@charset "UTF-8";
header {
  width: 100%;
  height: 70px;
  background-color: #a0d8ef;
  color: #0095d9;
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
}

.headericon {
  width: 170px;
  height: 55px;
  align-items: flex-start;
  margin-top: 7px;
  margin-left: 20px;
}

.hamburger {
  width: 40px;
  height: 30px;
  align-self: center;
  margin-right: 20px;
  margin-top: 7px;
  margin-left: 400px;
  z-index: 100;
}

.hamburger span {
  position: relative;
  display: block;
  background-color: #0095d9;
}

.hamburger span:after, .hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.hamburger span:after {
  top: 9px;
}

.hamburger span, .hamburger span:after, .hamburger span:before {
  width: 30px;
  height: 5px;
  background-color: #0095d9;
  transition: all 0.5s;
  /*←アニメーション*/
  backface-visibility: hidden;
  border-radius: 2px;
  background-color: #0095d9;
}

.hamburger .on span {
  background-color: transparent;
}

.hamburger .on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

.drower {
  position: absolute;
  top: 70px;
  height: 100vh;
  width: 200px;
  background-color: rgba(8, 8, 8, 0.5);
  right: 0;
}

.drower.on {
  right: -200px;
  transition-duration: 600ms;
}

main {
  background-image: url(../img/background.jpg);
  width: 100%;
  height: 700px;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main .rogo img {
  height: 200px;
  width: 500px;
  margin-right: 100px;
}

/*アニメーション*/
.animation {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.rogo {
  animation-name: anim_v;
}

@keyframes anim_v {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -80px);
  }
}

/**/
.nav_text {
  display: absolute;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: HiraMinPro-W6;
}

.slides {
  align-items: center;
  display: flex;
  margin-left: 180px;
}

.slides img {
  width: 1100px;
  height: 500px;
}

.story {
  text-align: center;
  border: 1px solid;
  width: 1300px;
  height: 350px;
  text-align: center;
  margin: 0 auto;
}

.story h3 {
  font-size: 50px;
  font-family: HiraMinPro-W6;
  padding: 2px 2px 2px 2px;
  margin-top: 15px;
}

.story p {
  font-size: 20px;
  margin-top: 30px;
}

article {
  text-align: center;
  letter-spacing: 5px;
  line-height: 80px;
}

.nav_text2 {
  display: absolute;
  font-size: 80px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: HiraMinPro-W6;
}

.nav_text3 {
  display: absolute;
  font-size: 25px;
  text-align: center;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  width: 180px;
  font-family: HiraMinPro-W6;
}


.nav_text4 {
  display: absolute;
  font-size: 25px;
  text-align: center;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  width: 200px;
  font-family: HiraMinPro-W6;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #a0d8ef;
  color: #0095d9;
  display: flex;
  justify-content: space-between;
}
